<h1 class="fw-light">Videos</h1>
<hr>

<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-2">
    <div class="col animate__animated animate__fadeIn " *ngFor="let video of videos">
      <div class="card">
        <img [src]="video.thumbnails.high.url" class="card-img-top" [alt]="video.title">
        <div class="card-body">
          <h5 class="card-title">{{video.title}}</h5>
          <p class="card-text">
            <strong>Autor:</strong> {{video.channelTitle}}
          </p>
          <p class="card-text">
            <strong>Publicado:</strong> {{video.publishedAt | date:'short'}}
          </p>
          <div class="d-grid gap-2">
              <button class="btn btn-lg btn-primary"
              (click)="verVideo(video)"
              >Ver video</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row my-5 text-center">
    <div class="col">
        <button class="btn btn-primary btn-lg"
            (click)="getPlaylist()"    
        >
            Siguiente pagina
        </button>
    </div>
  </div>